*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #1e1e1e;
    color: #a0a0a0;
    line-height: 1.6;
    font-family: "Outfit",sans-serif;
    animation: visible 1s ease-out;
}

@keyframes visible {
    from{
        opacity: 0;
        transform: scale(0.98);
    }
    to{
        opacity: 1;
        transform: scale(1);
    }
}

.main-container{
    display: grid;
    max-width: 1200px;
    grid-template-columns: 350px 1fr;
    gap: 40px;
    padding-top: 40px;
    margin: auto;
}



.sidebar{
    height: 90vh;
    background-color: #2a2a2a;
    border-radius: 16px;
    border: 1px solid #3a3a3a;
    padding: 40px;
    position: sticky;
    top: 40px;
}


/*Profile section*/

.profile{
    text-align: center;
}


.profile img{
    height: 120px;
    width: 120px;
    border-radius: 50%;
    border: 1px solid #3a3a3a;
    transition: all 0.3s ease;
}

.profile img:hover{
    transform: scale(1.1);
    box-shadow: 0 0 10px rgb(148, 147, 147);
}

.profile h2{
    font-size: 1.5rem;
    margin-top: 20px;
    font-weight: 700;
    color: #e0e0e0;
}

.profile p{
    background-color: #1e1e1e;
    padding: 5px 15px;
    color: #ffbf00;
    border: 1px solid #3a3a3a;
    border-radius: 8px;
    font-size: 0.8rem;
    display: inline-block; /*takes only the needed space*/
    margin-top: 10px;
}

/*contact section*/

.contact{
    margin-top: 30px;
    border-top: 2px solid #3a3a3a;
    padding-top: 20px;
}

.label{
    font-weight: 500;
    font-size: 0.8rem;
    color: #a0a0a0;
}

.value{
    color: #e0e0e0;
    text-decoration: none;
}

.email,.phone{
    margin-bottom: 15px;
}

/*Social Section*/

.social{
    margin-top: 30px;
    border-top: 2px solid #3a3a3a;
    padding-top: 20px;
    text-align: center;
}

.social img{
    height: 25px;
    width: 25px;
    margin-left: 10px;
    filter: grayscale(1) invert(0.7);
    transition: filter 0.3s ease;
}

.social img:hover{
    filter: grayscale(0) invert(0);
}

/* Main-content */

.main-content{
    background-color: #2a2a2a;
    border-radius: 16px;
    border: 1px solid #3a3a3a;
    padding: 40px;
}

/* Navigation */

#navigation{
    border-bottom: 2px solid #3a3a3a;
    margin-bottom: 20px;
    padding-bottom: 20px;
}

nav{
    display: flex;
    justify-content: end;
    gap: 20px;
}

nav a{
    text-decoration: none;
    color: #a0a0a0;
    font-weight: 500;
    transition: color 0.3s ease;

}

.active{
    color: #ffbf00;
}

nav a:hover{
    color: #ffbf00;
}

/* about section */

.heading{
    color:#e0e0e0;
    font-size: 2rem;
    margin-bottom: 5px;
}

.line{
    width: 50px;
    background-color: #ffbf00;
    height: 5px;
    margin-bottom: 15px;
}

.content{
    text-align: justify;
    color: #a0a0a0;
}

#about{
    margin-bottom: 40px;
}

/* skills section */

.grid-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 40px;
}

.item{
    padding: 10px;
    border-radius: 10px;
    border: 2px solid #3a3a3a;
    background-color: #1e1e1e;
    text-align: center;
    margin-top: 15px;
    transition: all 0.3s ease;
    cursor: pointer;
}

.item img{
    height: 40px;
    width: 40px;
    filter: invert(75%) sepia(50%) saturate(1000%) hue-rotate(350deg) brightness(110%) contrast(110%);
    margin-bottom: 15px;
}

.item h3{
    font-size: 1rem;
    font-weight: 500;
}

.item:hover{
    transform: scale(1.2) rotate(360deg);
    box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.3);
}

/*Education section*/

#education{
    margin-top: 30px;
}

.edtech{
    position: relative;
    margin-top: 20px;
}



.year{
    font-size:0.9rem;
    color: #a0a0a0;
    margin-bottom: 5px;
}

.degree{
    color:#e0e0e0;
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: 5px;
}

.college{
    font-style: italic;
    margin-bottom: 10px;
    color: #a0a0a0;
}

.work{
    color: #a0a0a0;
}

.edfirst, .edsecond{
    margin-bottom: 30px;
    padding-left: 25px;
    position: relative;
}

.goal{
    height: 15px;
    width: 15px;
    border-radius: 50%;
    border: 3px solid #ffbf00;
    position: absolute;
    top: 5px;
    left: 0px;
    z-index: 5;
}

.liner{
    position: absolute;
    width: 2px;
    top: 5px;
    bottom: 5px;
    left: 5px;
    border: 2px solid #3a3a3a;
}


/*Projects section*/

.projects-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 25px;
    margin-top: 30px;
}

.project-box img{
    height: 180px;
    width: 100%;
    object-fit: cover;
}

.project-box{
    background-color: #1e1e1e;
    border-radius: 12px;
    border: 2px solid #3a3a3a;
    overflow: hidden;
    transition: all 0.5s ease;
}

.project-box:hover{
    transform: scale(0.9);
    box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.3);
}

.card{
    padding: 20px;
}

.card h3{
    color: #e0e0e0;
    margin-bottom: 10px;
}

.card p{
    color: #a0a0a0;
    line-height: 1.6;
    text-align: start;
    margin-bottom: 20px;
}

.card span{
    background-color: rgba(255, 191, 0, 0.1);
    color: #ffbf00;
    padding: 4px 8px;
    margin-right: 5px;
    border-radius: 5px;
    font-size: 0.75rem;
}


/*Responsive*/

@media screen and (max-width:1200px){
    .main-container{
        grid-template-columns: 1fr;
        padding: 20px;
    }

    .sidebar{
        position: static;
        height: auto;
    }
}

@media screen and (max-width:750Px){
    .projects-container{
        grid-template-columns: 1fr;
    }

    #navigation nav{
        justify-content: center;
        flex-wrap: wrap;
    }

    .sidebar{
        display: flex;
        justify-content: center;
        gap: 40px;
    }

}










